@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ece7e1;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.Logo {
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    #hamburger-menu {
        display: none;
    }

    #sidebar-menu {
        left: 0; /* Show the menu by default on larger screens */
    }
}

header h2 {
    color: white
}

header .Menu {
    display:  none;
}
.nav a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.nav .btn {
    border: 2px solid #ffffff;
    background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
    margin-left: 40px;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    transition: background-position 0.3s ease;
}

.nav .btn:hover {
    background-position: left;
    color: rgb(0, 0, 0);
}


.Me .MyImage {
    width: 300px;
    height: 100%;
    position: relative;
    left: 200px;
    top: 120px;
    margin-right: 150vh;
    border: 4px solid rgb(29, 28, 23);
}

.Description {
    font-size: 1.3em;
    color: black;
    font-weight: 500;
    margin-left: 100vh;
    position: relative;
    bottom: 190px;
    right: 70px;
}

.Work-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 450vh;
}

.Work h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 170vh;
}

.Work p {
    margin-top: 2vh;
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.Work label {
    font-size: 1.6em;
    font-weight: 500;
    text-decoration: underline;
}

.full-width-line {
    border-top: 3px solid #000; 
    width: 100%;
    margin-top: 2vh; 
}

.Container p {
    margin-top: 5vh;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: underline;
}

.Container .MoreEx {
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
    height: auto;
}

.Combat label {
    margin-right: 170vh;
    font-size: 1.5em;
    position: relative;
    top: 3vh;
    font-weight: 500;
    font-style: italic;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: justify;
    width: 100%;
    height: auto;
}

.Videos video {
    margin-top: 2vh;
    justify-content: right;
    position:relative;
}

.Payment {
    margin-top: 20vh;
}

.Payment h2 {
    font-size: 2em;
    text-decoration: underline;
}

.Payment p {
    margin-top: 2vh;
    font-weight: 500;
    font-size: 1.2em;
}

.Contact {
    margin-top: 10vh;
}

.con {
    border-top: 3px solid #000; 
    width: 100%;
    margin-top: 10vh;
}

.Contact h2 {
    font-size: 2em;
    text-decoration: underline;
}

.Icons {
    display: block;
    justify-content: left;
    margin-top: 3vh;
    align-items: center;
}

.Icons p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 400;
}

.Icons a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 400;
}

img {
    height: 40px;
}

.Hire {
    margin-top: 5vh;
    width: 27%;
    height: auto;
    min-width: 300px;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}


.Hire h2 {
    margin-bottom: 2vh;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-align: center;
    color: #333;
}

.input-box {
    margin-top: 2vh;
}

.input-box label {
    display: flex;
    justify-content: center;
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font: bold;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    border-color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.input-box input:focus,
.input-box select:focus,
.input-box textarea:focus {
    outline: none;
    border-color: #007bff;
}

.input-box input:hover,
.input-box select:hover,
.input-box textarea:hover {
    outline: none;
    border-color: #1b1b1b;
}

.Send {
    margin-top: 2vh;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

textarea {
    resize: none;
    height: 150px;
}

.neg {
    display: flex;
    position: relative;
    right: 0;
    margin-top: 2vh;
}
.neg label {
    font-family: Arial, Helvetica, sans-serif
}
.neg input {
    display: flex;
    margin-left: 2vh;
    accent-color: #000;
}

.Send:hover {
    background-color: #034388;
}

/* Default styles for larger screens */
.Videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusts spacing between videos */
}

.successful {
    color: green;
}

.fail {
    color: red;
}


@media (max-width: 1264px) {
    .Work {
        margin-top: 250vh;
    }

    .Me {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
      .Me .MyImage {
        display:  block;
        width: 100%;
        height: auto;
        right: 0;
        margin: 0;
        left: 0;/* This will prevent the image from breaking */
      }
      
      .Me p {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        top: 0;
        right: inherit;
        padding-top: 9rem;
      }
    .header {
        display: none;
    }

    .headerSmaller {
        width: 100%;
        height: 8%;
        display: flex;
        transition: height 0.2s ease;
    }

    .Hamburger {
        height: 10%;
        width: 100%;
        user-select: none;
        display: flex;
        position: relative; /* Added to maintain the position of the Menu icon */
    }
    
    .Hamburger .Menu{
        display: flex;
        font-size: 20px;
        background-color: #333;
        border: #333;
        transition: border 0.3s ease;
        cursor: pointer;
        margin-bottom: 18%;
        align-self: center;
        margin-top: 38%;
       left: 0;
       z-index: 1;
    }

    .Hamburger .Menu img {
       position: absolute;
       margin-top: -2%;
    }
    
    .Logo {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        height: auto;
        
    }

    .headerSmaller nav {
        display: none;
    }

    .headerSmaller.active {
        display: block;
        height: 60%;
        transition: height .2s ease;
    }

    .headerSmaller.active .Hamburger {
        height: 10%;
        width: 100%;
    }

    .headerSmaller.active .Hamburger .Menu {
        margin: 0;
        top: 0;
    }

    .headerSmaller.active .Hamburger .Logo {
        top: 60%;
    }
    
    .headerSmaller.active .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-right: 50%;
        padding-left: 45%;
        border: 2px solid white;
    }
    
    .headerSmaller.active .nav a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em;
        text-decoration: none;
        font-size: 20px;
        white-space: nowrap;
        bottom: 5%;
        margin-right: 20px;
    }

    .Container {
        width: 100%;
    }

    .Container .MoreEx {
        display: block;
    }

    .Combat  {
        display: block;
    }

    .Combat label {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Videos {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .Videos video {
        width: 70%;
        height: auto; 
    }

    .Work {
        margin-top: -550vh;
    }

    body {
        display: block;
    }
}

@media (max-width : 1264px) and (orientation: landscape) {
    .headerSmaller.active .nav {
        overflow-y: auto;
        max-height: 50vh;
    }
}

/* Styles for mobile screens */
/*@media screen and ( max-width: 900px) and (max-height: 900px) and (min-width: 400px) {
    .Me {
        display: block;
        margin-top: 10vh;
    }
    .Me .MyImage {
        display: none;
    }
    .Me .Description {
        display: inline;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-bottom: -25vh;
        margin-left: 9vh;
    }

    .Videos {
        flex-direction: column;
        align-items: center;
    }

    .Videos video {
        width: 20%;
        height: auto; 
    }

    .Work {
        margin-top: 140vh;
    }
    .Container {
        display: block;
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
    }
    .Container .MoreEx,
    .Container p {
        font-size: .7em;
        word-wrap: break-word;
        white-space: wrap;
    }

    header {
        height: 10%;
        display: flex;
        transition: height .25s ease-in-out;
    }
    header h2 {
        display: flex;
        position: relative;
        left: 40%;
        right: 70%;
    }

    header .Menu {
        height: 80%;
        width: auto;
        display: inline;
        right: 75%;
        top: 10%;
        position: absolute;
        background-color: #333;
        border: #333;
        transition: border .3 ease;
        bottom: 17%;
    }

    header .Menu img {
        display: flex;
    }
    header nav {
        display: none;
    }

    header.active {
        height: 50%;
    }

    header.active .Menu {
        margin-bottom: 50%;
        margin-top: -3.5%;
        height: 35%;
        width: auto;
    }
    header.active h2 {
        bottom: 44%;
    }

    .nav.active {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items:  center;
        flex-direction: column;
        bottom: 50%;
        margin-top: 7vh;
        top: 50%;
    }

    .nav.active a,
    .nav.active button {
        display: flex;
        position: relative;
        margin-right: 50%;
        margin-left: 50%;
        justify-content: center;
        align-items: center;
        margin-top: 2.8vh;
        margin-left: 2vh;
        font-size: 1em;
        white-space: nowrap;
    }

    header.active .Logo {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media screen and ( max-width: 400px) {
    .Me {
        display: block;
        margin-top: 10vh;
    }
    .Me .MyImage {
        display: none;
    }
    .Me .Description {
        display: inline;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-bottom: -25vh;
        margin-left: 9vh;
    }

    .Videos {
        flex-direction: column;
        align-items: center;
    }

    .Videos video {
        width: 20%;
        height: auto; 
    }

    .Work {
        margin-top: 140vh;
    }

    .Container .MoreEx,
    .Container p {
        font-size: .8em;
        word-wrap: break-word;
    }

    header {
        height: 10%;
        display: flex;
        transition: height .25s ease-in-out;
    }
    header h2 {
        display: flex;
        position: relative;
        left: 40%;
        right: 70%;
    }

    header .Menu {
        height: 80%;
        width: auto;
        display: inline;
        right: 75%;
        top: 10%;
        position: absolute;
        background-color: #333;
        border: #333;
        transition: border .3 ease;
        bottom: 17%;
    }

    header .Menu img {
        display: flex;
    }
    header nav {
        display: none;
    }

}*/
